<% provide(:title, "Home") %>
	<% if logged_in? %>
		<div class="home-content">
			<asside class="user-info">
				<div class="user-info-content">
					<section  class="user_info">
						<%= render 'shared/user_info' %>
					</section>
					<section class="stats">
						<%= render 'shared/stats' %>
					</section>
					<section class="micropost_form">
						<%= render 'shared/micropost_form' %>
					</section>					
				</div>
			</asside>
			<div class="user-feeds">
				<h3>Micropost Feed</h3>
				<%= render 'shared/feed' %>
			</div>
		</div>dsafdsds
	<% else %>
		<div class="home-content">
			<div class="welcome-box">
				<h1>Welcome to the Sample App</h1>
				<h2>
					  This is the home page for the
					  <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
					  sample application.
				</h2>    
				<%= link_to "Sign up now!", signup_path, class: "sign-up-btn" %>	
			</div>
		

			<%= link_to image_tag("rails.png", alt: "Rails logo"), 'http://rubyonrails.org/' %>			
		</div>

	<% end %>