<% provide(:title, 'Login') %>

<div class="login-content">
<h1>Login</h1>
      <%= form_for(:session, url: login_path,  :html => {:class => "login-form"}) do |f| %>

        <div class="form-item">
          <%= f.label :email, "Email: ", class: "form-label" %>
          <div class="form-input">
            <%= f.email_field :email, required: "required" %>
          </div>
        </div>
        
        <div class="form-item">
          <%= f.label :password, "Password: ", class: "form-label" %>
          <div class="form-input">
            <%= f.password_field :password, required: "required" %>
          </div>
        </div>

        <div class="form-item">
        <%= f.label :remember_me, class: "checkbox inline" do %>
          <%= f.check_box :remember_me %>
          <span>Remember me on this computer</span>
        <% end %>          
        </div>
        
        <div class="form-item action-items">
          <div class="btn-container">
            <%= f.submit "Log in", class: "login-btn" %>
          </div>

            <div class="reset-container">
              <p><%= link_to "Forgot your password?", new_password_reset_path %></p>
          </div>
        </div>
      <% end %>

      <div class="login-providers">
          <h2 class="lines"><span>Or sign in with</span></h2>
          <%= button_to "/auth/google_oauth2", class: "social-login-btn google-login-btn" do %>
            <i class="social-login-icon google-icon" aria-hidden="true"></i>
            Sign in with Google
          <% end %>

          <%= button_to "/auth/facebook", class: "social-login-btn facebook-login-btn" do %>
            <i class="social-login-icon facebook-icon" aria-hidden="true"></i>
            Sign in with Facebook
          <% end %>              

          <%= button_to "/auth/twitter", class: "social-login-btn twitter-login-btn" do %>
            <i class="social-login-icon twitter-icon" aria-hidden="true"></i>
            Sign in with Twitter
          <% end %>                
      </div>

      <div class="new-user-signup">
        <p>New user? <%= link_to "Sign up now!", signup_path %></p>
      </div>
    
  </div>
</div>

