<% provide(:title, "Sign Up") %>

<h1>Sign Up</h1>


<%= form_for @user,  :html => {:class => "sign-up-form"} do |f| %>
	
	<%= puts YAML::dump(f.object.errors) %>
		
	<% if f.object.errors.any? %>
		<div class="row">
			<div class="col-sm-12">
				<div class="alert alert-danger">
					There was a problem creating your account.
				</div>				
			</div>
		</div>
	<% end %>

	<div class="form-item">
		<%= f.label :name, "Name:", class: "form-label" %>
		<div class="form-input">
			<%= f.text_field :name, required: "required" %>
		</div>	
	</div>

	<div class="form-item">
		<%= f.label :email, "Email:", class: "form-label" %>
		<div class="form-input">
			<%= f.email_field :email, required: "required" %>
		</div>
	</div>

	<div class="form-item">
		<%= f.label :password, "Password:", class: "form-label" %>
		<div class="form-input">
			<%= f.password_field :password, required: "required" %>
		</div>
	</div>
			
	<div class="form-item">
		<%= f.label :password_confirmation, "Password confirmation: ", class: "form-label" %>
		<div class="form-input">
			<%= f.password_field :password_confirmation, required: "required" %>
		</div>
	</div>

	<div class="form-item">
		<div class="recaptcha-container">
			<%= recaptcha_tags %>
		</div>
		<% if f.object.errors.any?  && f.object.errors[:"g-recaptcha-response"] %>
			<div class="form-error recaptcha">
				<div class="alert alert-danger">Recaptcha is required.</div>
			</div>
		<% end %>
	</div>
	
	<div class="form-item">
		<div class="form-btn">
			<%= f.submit "Create my account", id: "btn-new-user", class: "btn-new-user" %>
		</div>
	</div>
<% end %>
	